body{
    margin: 0;
    height: 100vh;
}
#board{
    height: 100vh;
    padding: 0, 3rem;
}
#waitingSide{
    height: 49%;
    background-color: rgb(224, 150, 150);
}
#activeSide{
    height: 49%;
    background-color: rgb(134, 134, 211);
}

.hand{
    height: 100%;
    width: 25%;
    border-right: 2px black solid;
    float: left;
    margin-right: 5rem;
}

.activeRow{
    display: flex;
    flex-wrap: nowrap;
    align-content: space-evenly;
    height: 50%;
}
.benchRow{
    display: flex;
    flex-wrap: nowrap;
    align-content: space-evenly;
    height: 50%;
}

.bench, .discardPile, .activePokemon, .prizes, .energy, .deck{
    border: 2px black solid;
    height: 90%;
    width: 10rem;
    margin: 0.5rem 3rem;
}

.discardPile, .deck{
    margin-left: auto;
}

.prizes, .energy{
    border: 2px lightgrey dotted;
}

hr{
    background-color: black;
    margin: 0;
    height:5px
}


#DeckPicker{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    text-align: center;
    & div{
        border: 3px black solid;
        & img{
            height: 25rem;
        }
        & button{
            height: 2rem;
            margin-bottom: 1rem;
        }
    }
}

#DeckPickerTitle{
    text-align: center;
    padding: 5rem;
}